/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');

:root {
  --main: #000;
  --main2: #0505af;
  --maisonDinard: #64464c;
  --offwhite: #fdf7f4;
  --offblack: #343231;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: -webkit-fill-available;
}

body {
  height: 100vh;
  max-height: -webkit-fill-available;
  width: 100vw;
  overflow: hidden;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--offwhite);
  color: var(--offblack);
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Nav */
nav {
  height: 10vh;
  max-width: 750px;
  margin: 0 auto;
  position: sticky;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  border-bottom: 1px dashed black;
}

nav img {
  border-radius: 100%;
  height: 48px;
}

nav a {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 700;
}

/* Speech */
.speech {
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
}

.speech p:first-child {
  font-size: max(10vw, 75px);
  font-weight: 700;
  margin-bottom: 2rem;
}

.speech p:nth-child(2) {
  font-size: max(1.5vw, 25px);
  padding: 0 1.5rem;
}

br {
  margin-bottom: 0.5rem;
}

.speech p span:first-of-type {
  color: blue;
}

.speech p span:nth-child(2) {
  color: #fff;
  text-shadow: 0 0 2px rgba(0, 0, 0, 1);
}

.speech p span:nth-child(3) {
  color: red;
}

/* Swiper */
.swiper {
  width: 100%;
  height: 100%;
  transform: translateY(-10%);
}

/* Swiper default */
.swiper-slide {
  display: flex;
  flex-wrap: wrap;
  place-items: center;
  gap: 8rem;
  padding-top: 10vh;
  max-width: 1150px;
  margin: 0 auto;
}

.swiper-slide-active {
  padding-bottom: 1rem;
}

.swiper-slide .mobile {
  margin: 0 auto;
  max-width: 35%;
  max-height: 50%;
}

.swiper-slide .desktop {
  margin: 0 auto;
  max-width: 90%;
  max-height: 50%;
}

.swiper-slide:not(:first-child) p {
  position: absolute;
  top: 59.5%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: max(3vw, 3rem);
  text-shadow: 0 0 5px rgba(255, 255, 255, 1);
  font-weight: normal;
}

.swiper-slide:not(:first-child) p a {
  display: none;
}

.contact {
  display: grid;
  place-items: center;
  max-height: 50%;
  transform: translateY(50%);
  padding-top: 0;
  gap: 0;
}

.contact h1,
.contact h3,
.contact img {
  position: relative !important;
  margin: 0 auto;
  top: unset !important;
  left: unset !important;
  transform: none !important;
}

.contact a {
  width: max(10%, 75px);
}

.contact h3 {
  padding: 0 1rem;
  text-align: center;
}

@media screen and (min-width: 1000px) {
  .swiper-slide:not(:first-child) p {
    position: absolute;
    top: inherit;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: 0 0 5px rgba(255, 255, 255, 1);
  }

  .swiper-slide:not(:first-child) p a {
    display: inline;
    font-weight: normal;
    font-style: italic;
  }

  .swiper-slide:not(:first-child) p a:hover {
    text-decoration: underline;
  }
}
